<div style="margin-top:5%" class="container">
    <h3 class="h3">Others</h3>

    <div class="row">

        <div class="col-md-4 col-sm-6" *ngFor="let product of products" style="height: 100% ; margin-top:5%">
            <div class="product-grid3">
                <div class="product-image3">
                    <a href="#">
                        <img style="height:300px" class="pic-1" src="../../../assets/Images/Others/{{product.image}}">
                        <img style="height:300px" class="pic-2" src="../../../assets/Images/Others/{{product.image}}">
                    </a>
                    <ul class="social">
                        <li><a (click)="DirectDetails(product.id)"><i class="fa fa-shopping-cart"></i></a></li>
                    </ul>
                </div>
                <div class="product-content">
                    <h3 class="title text-secondary"><a href="#" class = "text-dark">{{product.name}}</a></h3>
                    <div class="price text-secondary">
                        {{product.price}} EGP
                    </div>
                </div>
            </div>
            <hr style="border: lightgray solid 1px"/>
        </div>
    </div>
  
    <mat-paginator
    [length] = "length"
    [pageSize] = "products.length"
    (page) = "onPageChange($event)">
    </mat-paginator>
