<div class="container" id="body">    
    <div class="row">
     
        <div class="col-md-4 col-xs-12 col-sm-6 col-lg-4">
        </div>
       
        <div class="col-md-8 col-xs-12 col-sm-6 col-lg-8" >
            <div class="container" >
              <h2>{{user.fullName}}</h2>
            </div>
         <hr>
            <ul class="list-group list-group-flush">
                    <li class="list-group-item"><p><span class="fa fa-user-circle-o" ></span>{{user.userName}}</p></li>
                    <li class="list-group-item"><p><span class="fa fa-envelope" ></span>{{user.email}}</p></li>
                    <li class="list-group-item"><p><span class="fa fa-home" ></span>{{user.country}} : {{user.city}}</p></li>
                    <li class="list-group-item"><p><span class="fa fa-phone" ></span>{{user.phoneNumber}}</p></li>
                </ul>
            <hr>
            
        </div>
  
</div>
</div>