<!--Part2-->
<div class="Part2">
		<div class="displaybtn">
			<p class="title"> Crocheto</p>
			<p class="subtitle">Love it </p>
		 <button class="btn">Shop Now</button>
		
		</div>
	</div>

<div class="Part1" >
<div class="accordian">
    <ul>
		<li>
			<div class="image_title">
				<a (click)="DirectWomen()">Head Band</a>
			</div> 
			<a (click)="DirectWomen()">
				<img src="../../assets/Images/Women/HeadBand1.jpg"/>
			</a>
		</li>
		<li>
			<div class="image_title">
				<a (click)="DirectMen()" >Gloves</a>
			</div>
			<a (click)="DirectMen()" >
				<img src="../../assets/Images/Men/Gloves1.jpg"/>
			</a>
		</li>
		<li>
			<div class="image_title">
				<a (click)="DirectKids()">Hat</a>
			</div>
			<a (click)="DirectKids()">
				<img src="../../assets/Images/Kids/Hat1.jpg"/>
			</a>
		</li>
		<li>
			<div class="image_title">
				<a (click)="DirectOthers()">Blanket</a>
			</div>
			<a (click)="DirectOthers()">
				<img src="../../assets/Images/Others/Blanket1.jpg"/>
			</a>
		</li>
	</ul>
</div>
</div>
<br/>
